/* url("wrinkled-paper-texture-7.jpg") */



.f1, h1, p, input, a{
    font-family: 'Lexend Mega', sans-serif;
    /* /* font-size: 12px; */
    font-weight: 800; 
}
.f2{
    font-family: 'Supermercado One', cursive;
    /* font-weight: 800;
    font-size: none; */
    
}
.formularios{
    display: flex;
    justify-content: space-around;
}
.agregar{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    
}
.formulario{
    padding: 0.5rem;
    border: 1px solid black;
    box-shadow: 0 20px 40px black;
}
.buscar{
    display: grid;
    text-align: center;
    
}
a{
    text-decoration: none;
    color: black;
}
.item{
    margin: 0.5rem 1.5rem;
    
}
.recibos{
    display: flex;
    justify-content: center;
}
.recibo{
    text-align: center;
    background-image: url(../imgs/papel.jpg);
    /* width: 35%; */
    /* margin: 0 32%; */
    font-size: 12px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 2rem 0;
}
.recibo:hover{
    /* border: 1px solid black; */
    box-shadow: 0 20px 40px black;
}
.linea{
    border-bottom: 1px solid gray;
    margin: 0 0.5rem;
}
.tipos, .objeto{
    display: flex;
    justify-content: space-around;
}
.objeto{
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
}
.info{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.deslizar{
    position: fixed;
    width: 100%;
    margin-top: 5rem;
}
.formularios2{
    display: flex;
    justify-content: space-between;
}
.delObject{
    display: grid;
    text-align: center;
    margin-right: 10%;
}
.addObject{
    display: grid;
    text-align: center;
    margin-left: 10%;
}

.hiden{
    display: none;
}
footer{
    text-align: end;
}
@media (max-width: 1060px){
    .deslizar{
        position: initial;
    }
    footer{
        text-align: center;
    }
}

@media (max-width: 700px){
    .formularios{
        display: grid;
        align-items: center;
        
    }
    .formulario{
        display: grid;
        margin-bottom: 1rem;
    }
    .formularios2{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .delObject{
        margin-right: 0;
    }
    .addObject{
        margin-left: 0;
    }
}
